<h1><%= @product.name %></h1>
<p><%= @product.description %></p>
<% if @product.selected_bid %>
  <p><strong>Sold off to <%= @product.selected_bid.user.email %> for $<%= @product.selected_bid.price %></strong></p>
<% else %>
  <hr>
  <h3>Bids</h3>
  <% if current_user.user_type == 'buyer' %>
    <%= form_with(model: [ @product, @product.bids.build ], local: true) do |form| %>
      <div class="form-field">
        <%= form.label :price %>
        <%= form.number_field :price, step: 0.01, required: true %>
      </div>
      <div class="actions">
        <%= form.submit "Place Bid" %>
      </div>
    <% end %>
  <% end %>
  <% @product.bids.each do |bid| %>
    <% if bid.persisted? %>
      <p>
        <%= bid.user.email %>: $<%= bid.price %>
        <% if current_user.user_type == 'seller' && @product.user_id == current_user.id %>
          <%= button_to 'Select', select_bid_product_path(@product, bid_id: bid.id), method: :patch, data: { confirm: "Are you sure you want to select this bid?" } %>
        <% end %>
      </p>
    <% end %>
  <% end %>
<% end %>
